@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:black; text-align:center">
    <header>
        <h1>Asians Basketball Association</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-2">10 Teams</div>

            <div class="col-md-8">
                <img src="~/Images/BasketballTournament.jpg" width="500" height="700" />
            </div>

            <div class="col-md-2">Time TBD </div>
        </div>
    </div>
</body>
</html>
